.profilePage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
  margin-right: 50px;
}

.photo Img {
  margin-bottom: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

h3 {
  color: #00695c;
}

.fav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
