.profilePage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 70px;
}

.photo Img {
  margin-bottom: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-left: 20px;
}

h3 {
  color: #00695c;
}

.fav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.statisticsBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto 0;
}

.statisticsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px auto 40px;
  max-width: 550px;
}

.human-body {
  width: 207px;

  display: block;
  margin: 0 0 0 50px;
}
